@import url("https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Open+Sans|PT+Sans:400");
body {
  font-family: 'PT Sans', sans-serif;
  background-color: #d7dee5; }

nav > .navbar-brand {
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 2.25rem; }

nav #brand {
  color: yellow; }

nav .navbar-nav {
  padding-left: 1.5rem; }

nav ul li a {
  font-size: 1.33rem; }

nav span {
  font-size: 2.5rem;
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: bold;
  letter-spacing: 3px; }

.jumbotron {
  background-image: url(../src/tlo.png);
  color: white;
  background-size: cover;
  font-family: 'Open Sans', sans-serif; }
  .jumbotron .hero h1 {
    margin-top: 1.25rem;
    text-transform: uppercase;
    font-size: 80px; }
  .jumbotron .hero .fa-star {
    font-size: 1.75rem; }
  .jumbotron .hero .fa-star:nth-child(2) {
    font-size: 3rem; }
  .jumbotron .hero .lead {
    margin-top: 1.25rem;
    font-size: 1.5rem; }
  .jumbotron .hero .numer {
    font-size: 5rem;
    color: #edc500;
    font-family: "Annie Use Your Telescope", cursive;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 0; }
  .jumbotron .hero p:last-child {
    font-size: 2.5rem;
    color: red; }
    .jumbotron .hero p:last-child > span {
      text-transform: uppercase;
      text-decoration: underline; }

.carousel .carousel-caption {
  color: #edc500; }

.carousel .carousel-indicators li {
  background-color: #edc500; }

.uslugi .icon {
  display: inline-block;
  text-align: center;
  padding: 0 0 0 0;
  line-height: 90px; }
  .uslugi .icon i {
    font-size: 5rem; }

hr {
  margin-top: 5%;
  margin-bottom: 5%; }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.4rem;
    padding-left: 1.4rem; } }

@media (max-width: 991px) {
  .float-right {
    float: left !important; } }

@media (max-width: 768px) {
  .carousel .carousel-caption h1, .carousel .carousel-caption p {
    background-color: rgba(0, 0, 0, 0.5); } }

@media (max-width: 656px) {
  .jumbotron {
    background-image: url(../src/tlo.png);
    color: white;
    background-size: cover;
    font-family: 'Open Sans', sans-serif; }
    .jumbotron .hero h1 {
      margin-top: 1.25rem;
      text-transform: uppercase;
      font-size: 46px; }
    .jumbotron .hero .fa-star {
      font-size: 1rem; }
    .jumbotron .hero .fa-star:nth-child(2) {
      font-size: 1.75rem; }
    .jumbotron .hero .lead {
      margin-top: 1.25rem;
      font-size: 1.1rem; }
    .jumbotron .hero .numer {
      font-size: 3rem;
      color: #edc500;
      font-family: "Annie Use Your Telescope", cursive;
      font-weight: bold;
      letter-spacing: 3px;
      margin-bottom: 0; }
    .jumbotron .hero p:last-child {
      font-size: 1.5rem;
      color: red; }
      .jumbotron .hero p:last-child > span {
        text-transform: uppercase;
        text-decoration: underline; } }

@media (max-width: 400px) {
  .carousel h1 {
    font-size: 1.3rem; }
  .carousel p {
    font-size: 0.7rem; }
  footer {
    font-size: 0.85rem; } }
